@font-face {
    font-family: 'fellix';
    src: url(../font/Fellix-Regular.woff2);
}

@keyframes greenBackground {
	0% {
		background: #004E38;
	}
	90% {
		background: #004E38;
    }
    100% {
        background: #04367D;
    }
}


@keyframes greenBackgroundInput {
	0% {
        background: #29DC5E;
        color: black;
	}
	90% {
		background: #29DC5E;
    }
    100% {
        background: #004FFF;
    }
}


@keyframes redBackground {
	0% {
		background: #FC3134;
	}
	90% {
		background: #FC3134;
    }
    100% {
        background: #04367D;
    }
}


@keyframes redBackgroundInput {
	0% {
		background: #670506;
        color: black;
	}
	90% {
		background: #670506;
    }
    100% {
        background: #004FFF;
    }
}


* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    width: 100%;
    height: 1000px;
    font-family: 'fellix';
}
.background {
    width:102%;
    height: 100%;
    background: #04367D;
}
.normalBackground {
    background: #04367D;
}
.greenBackground {
    animation: greenBackground 5s 1 linear;
}
.redBackground {
    animation: redBackground 10s 1 linear;
}

.background input {
    background: #004FFF;
}
.normalBackground input {
    background: #004FFF;
}
.greenBackground input {
    animation: greenBackgroundInput 5s 1 linear;
}
.redBackground input {
    animation: redBackgroundInput 10s 1 linear;
}

input {
    width: 80%;
    margin: 0 7%;
    height: 40px;
    font-size: 17px;
    margin-top: 120px;
    outline: none;
    border:none;
    padding-left: 5px;
    color: #FFCC01;
    border-radius: 3px;
}
input::placeholder {
    color: #FFCC01;
}
h1 {
    color: #FFCC01;
    text-align: center;
    font-size: 30px;
}