@font-face {
	src: url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.woff2") format("woff2");
	font-family: "roboto";
}

* {
    padding: 0;
    margin: 0;
}

/*=========================[Elements]=========================*/

body {
	font-family: "roboto";
}

/*=========================[Ids]=========================*/

/*=========================[Classes]=========================*/

/*=========================[Helper Classes]=========================*/

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}