* {
    margin: 0;
    padding: 0;
}

body {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

nav {
    background: #383535;
    padding: 10px;
}

nav a {
    padding: 25px 0;
    margin: 5px 0;
    text-decoration: none;
    color: #FFFFFF;
}

nav a:hover {
    border: 8px solid black;
    text-decoration: underline;
    font-size: 120%;
    font-weight: bold;
}
/* Helper classes to style adminpanle login */